{% if hero %}
<header>
  <section class="hero">
    <div class="hero-body">
      <div class="container row">
        <div class="column">
          <div class="hero-description">
            <h1 class="hero-title">{{ hero.title }}</h1>
            <p class="subtitle">{{ hero.description }}</p>
            {%- if hero.download == true %}
              <a class="button button-hex is-big" href="{{ '/download' | url }}">Download Now</a>
            {%- endif %}
          </div>
        </div>
        {%- if hero.image %}
        <div class="column">
          {% image hero.title, hero.image.light, hero.image.dark %}
        </div>
        {%- endif %}
      </div>
    </div>
  </section>
</header>
{% endif %}
